/* Main Content >>>>>>>>>>>>>> Fix the CSS I dont really like it*/
main {
  min-height: 80vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Product Card Styling */
.product-card {
  margin-bottom: 2rem; /* Adds vertical spacing between the product cards */
}

/* Rating Stars */
.rating {
  display: flex;
  align-items: center;
}

.rating span {
  margin: 0.1rem;
  font-size: 1.5rem;
  color: #a9a9a9; /* Dark grey */
  transition: transform 0.3s ease, color 0.3s ease;
}

.rating span:hover {
  transform: scale(1.1);
  color: #ffc107; /* Golden color */
}

.rating svg {
  color: #a9a9a9; /* Dark grey */
}

.rating svg:hover {
  color: #ffc107; /* Golden color */
}

/* Rating Text */
.rating-text {
  font-size: 0.8rem; /* Smaller font size */
  font-weight: 300; /* Light font weight */
  padding-left: 0.5rem;
  color: #333;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
  transition: none; /* Disable any transition effect */
}

.rating-text:hover {
  color: #333; /* No color change */
  transform: none; /* No scaling */
}

/* Product Title */
.product-title {
  height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  transition: color 0.3s ease;
}

.product-title:hover {
  color: #004e0a;
  cursor: pointer;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table th,
table td {
  text-align: center;
  padding: 1rem;
  border: 1px solid #ddd;
  background: #fff;
  transition: background 0.3s ease;
}

table th {
  background: #f4f4f4;
  font-weight: 700;
}

table td:hover {
  background: #f8f8f8;
}

/* Review Section */
.review {
  margin-top: 2rem;
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review h2 {
  font-size: 1.5rem;
  background: #f4f4f4;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.review button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background: #007bff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.review button:hover {
  background: #0056b3;
}

/* Carousel Caption */
.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1.2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: background 0.3s ease;
}

.carousel-caption:hover {
  background: rgba(0, 0, 0, 0.85);
}
